<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .leads {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-block: 10px;
        margin-top: 10px;
        background-color: white;
        width: 100%;
      }
    </style>
  </head>

  <body>
    {% for lead in leads %}

    <div class="leads">
      <a href=" /leads/{{ leads.id }}">First Name : {{lead.first_name}}</a>
      Last Name : {{lead.last_name}} Age : {{lead.age}}
    </div>

    {% endfor %}
  </body>
</html>
